<h1>About Us</h1>
<p>
  <a href="http://railstutorial.org/">Mini-Twitter</a>
  is Tim's spare-time project to learn Ruby on Rails following the excellent tutorial, <a href="http://rubyonrails.org/">Ruby on
  Rails</a>.  This is the personalized version of the sample application described in the tutorial. 
</p>
	
